<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dx.Booker.generator.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.dx.Booker.generator.po.Order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="condition" jdbcType="VARCHAR" property="condition" />
    <result column="summoney" jdbcType="DOUBLE" property="summoney" />
  </resultMap>
  <resultMap id="order" type="com.dx.Booker.generator.extendPojo.order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="condition" jdbcType="VARCHAR" property="condition" />
    <result column="summoney" jdbcType="DOUBLE" property="summoney" />
    <result column="addressDetail" jdbcType="VARCHAR" property="addressDetail"/>
    <result column="userName" jdbcType="VARCHAR" property="userName"/>
    <result column="phone" jdbcType="VARCHAR" property="phone"/>
    <!--<association property="userAddress" javaType="com.dx.Booker.generator.extendPojo.UserAddress">-->
      <!--<id column="address_id" jdbcType="INTEGER" property="id" />-->
      <!--<result column="addressDetail" jdbcType="VARCHAR" property="addressDetail" />-->
      <!--<result column="phone" jdbcType="VARCHAR" property="phone"/>-->
      <!--<result column="userName" jdbcType="VARCHAR" property="userName"/>-->
      <!--<result column="addressType" jdbcType="VARCHAR" property="addressType"/>-->
    <!--</association>-->
    <collection property="orderDetails" ofType="com.dx.Booker.generator.extendPojo.orderDetail">
      <id column="orderDetail_id" jdbcType="INTEGER" property="id" />
      <result column="order_id" jdbcType="INTEGER" property="orderId" />
      <result column="book_id" jdbcType="INTEGER" property="bookId" />
      <result column="booknum" jdbcType="INTEGER" property="booknum" />
      <result column="orderDetail_Summoney" jdbcType="DOUBLE" property="summoney" />
      <association property="book" javaType="com.dx.Booker.generator.po.Books">
        <id column="book_id" jdbcType="INTEGER" property="id" />
        <result column="book_title" jdbcType="VARCHAR" property="title" />
        <result column="book_image" jdbcType="VARCHAR" property="imagepath" />
      </association>
    </collection>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, createtime, condition, summoney
  </sql>

  <select id="order" parameterType="java.lang.Integer" resultMap="order" >
   select `order`.id as id,`order`.user_id as user_id,`order`.createtime AS createtime,`order`.`condition` AS `condition`,`order`.summoney as summoney,order.addressDetail AS addressDetail,
orderdetail.id AS orderDetail_id,orderdetail.book_id as book_id,orderdetail.booknum as booknum,orderdetail.summoney AS orderDetail_Summoney,
books.title AS book_title,books.imagePath AS book_image,order.phone AS phone,order.userName AS userName FROM `order`,orderdetail,books WHERE `order`.id=orderdetail.order_id AND orderdetail.book_id = books.id
AND `order`.user_id=#{userId} ORDER BY createtime DESC
   </select>
  <select id="orderLimit" parameterType="java.lang.Integer" resultMap="order">
select `order`.id as id,`order`.user_id as user_id,`order`.createtime AS createtime,`order`.`condition` AS `condition`,`order`.summoney as summoney,order.addressDetail AS addressDetail,
orderdetail.id AS orderDetail_id,orderdetail.book_id as book_id,orderdetail.booknum as booknum,orderdetail.summoney AS orderDetail_Summoney,
books.title AS book_title,books.imagePath AS book_image,order.phone AS phone,order.userName AS userName FROM `order`,orderdetail,books WHERE `order`.id=orderdetail.order_id AND orderdetail.book_id = books.id
AND `order`.user_id=#{userId} AND `order`.id IN(SELECT id FROM (SELECT id  from `order` ORDER BY id DESC LIMIT 0,3) AS `order`) ORDER BY createtime DESC
  </select>

  <select id="ordersByCondition" parameterType="java.lang.String"  resultMap="order" >
    select `order`.id as id,`order`.user_id as user_id,`order`.createtime AS createtime,`order`.`condition` AS `condition`,`order`.summoney as summoney,order.addressDetail AS addressDetail,
    orderdetail.id AS orderDetail_id,orderdetail.book_id as book_id,orderdetail.booknum as booknum,orderdetail.summoney AS orderDetail_Summoney,
    books.title AS book_title,books.imagePath AS book_image,order.phone AS phone,order.userName AS userName FROM `order`,orderdetail,books WHERE `order`.id=orderdetail.order_id AND orderdetail.book_id = books.id
     AND `order`.condition LIKE #{condition} ORDER BY createtime DESC
  </select>
  <!--<select id="selectByExample" parameterType="com.dx.Booker.generator.po.OrderExample" resultMap="BaseResultMap">-->
    <!--select-->
    <!--<if test="distinct">-->
      <!--distinct-->
    <!--</if>-->
    <!--<include refid="Base_Column_List" />-->
    <!--from order-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
    <!--<if test="orderByClause != null">-->
      <!--order by ${orderByClause}-->
    <!--</if>-->
  <!--</select>-->
  <!--<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">-->
    <!--select -->
    <!--<include refid="Base_Column_List" />-->
    <!--from order-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</select>-->
  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">-->
    <!--delete from order-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</delete>-->
  <!--<delete id="deleteByExample" parameterType="com.dx.Booker.generator.po.OrderExample">-->
    <!--delete from order-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</delete>-->
  <!--<insert id="insert" parameterType="com.dx.Booker.generator.po.Order">-->
    <!--insert into order (id, user_id, createtime, -->
      <!--condition, summoney)-->
    <!--values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, -->
      <!--#{condition,jdbcType=VARCHAR}, #{summoney,jdbcType=DOUBLE})-->
  <!--</insert>-->
  <!--<insert id="insertSelective" parameterType="com.dx.Booker.generator.po.Order">-->
    <!--insert into order-->
    <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
      <!--<if test="id != null">-->
        <!--id,-->
      <!--</if>-->
      <!--<if test="userId != null">-->
        <!--user_id,-->
      <!--</if>-->
      <!--<if test="createtime != null">-->
        <!--createtime,-->
      <!--</if>-->
      <!--<if test="condition != null">-->
        <!--condition,-->
      <!--</if>-->
      <!--<if test="summoney != null">-->
        <!--summoney,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
      <!--<if test="id != null">-->
        <!--#{id,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="userId != null">-->
        <!--#{userId,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="createtime != null">-->
        <!--#{createtime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="condition != null">-->
        <!--#{condition,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="summoney != null">-->
        <!--#{summoney,jdbcType=DOUBLE},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<select id="countByExample" parameterType="com.dx.Booker.generator.po.OrderExample" resultType="java.lang.Long">-->
    <!--select count(*) from order-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</select>-->
  <!--<update id="updateByExampleSelective" parameterType="map">-->
    <!--update order-->
    <!--<set>-->
      <!--<if test="record.id != null">-->
        <!--id = #{record.id,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="record.userId != null">-->
        <!--user_id = #{record.userId,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="record.createtime != null">-->
        <!--createtime = #{record.createtime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="record.condition != null">-->
        <!--condition = #{record.condition,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.summoney != null">-->
        <!--summoney = #{record.summoney,jdbcType=DOUBLE},-->
      <!--</if>-->
    <!--</set>-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <!--<update id="updateByExample" parameterType="map">-->
    <!--update order-->
    <!--set id = #{record.id,jdbcType=INTEGER},-->
      <!--user_id = #{record.userId,jdbcType=INTEGER},-->
      <!--createtime = #{record.createtime,jdbcType=TIMESTAMP},-->
      <!--condition = #{record.condition,jdbcType=VARCHAR},-->
      <!--summoney = #{record.summoney,jdbcType=DOUBLE}-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKeySelective" parameterType="com.dx.Booker.generator.po.Order">-->
    <!--update order-->
    <!--<set>-->
      <!--<if test="userId != null">-->
        <!--user_id = #{userId,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="createtime != null">-->
        <!--createtime = #{createtime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="condition != null">-->
        <!--condition = #{condition,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="summoney != null">-->
        <!--summoney = #{summoney,jdbcType=DOUBLE},-->
      <!--</if>-->
    <!--</set>-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKey" parameterType="com.dx.Booker.generator.po.Order">-->
    <!--update order-->
    <!--set user_id = #{userId,jdbcType=INTEGER},-->
      <!--createtime = #{createtime,jdbcType=TIMESTAMP},-->
      <!--condition = #{condition,jdbcType=VARCHAR},-->
      <!--summoney = #{summoney,jdbcType=DOUBLE}-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
</mapper>